guacamol @ git+https://github.com/PaccMann/guacamol.git@0.5.4
matplotlib==3.0.2
torch>=1.0.0
joblib==0.12.5
numpy==1.18
tqdm==4.26.0
cython==0.29
nltk==3.4.5
flake8==3.5.0
molsets @ git+https://github.com/molecularsets/moses.git@7b8f83b21a9b7ded493349ec8ef292384ce2bb52